{% extends 'ApplicationSonataUserBundle::layout.html.twig' %}

{% block user_content %}
<p class="info-big">
we'll send you <span>an email</span> with instructions<br />
on creating a new password
</p>
{% endblock %}
