{% extends 'ApplicationSonataUserBundle::layout.html.twig' %}

{% block user_content %}
<p class="info-big">
The password for this user <br />
<span>has already been requested</span> <br />
within the last 24 hours.
</p>
{% endblock %}
